*, ::before, ::after {

    box-sizing: border-box;
    margin: O;
    padding: 0;
}

body{
    width: 100%;
    background: #333;
    margin: 0;
}

.container {
    width: 100%;
    height: 50px;
    background: white;

}

nav ol {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    padding: 15px 10px;
}

nav ol li {
    padding-left: 10px;
    font-weight: bold;
    color: #333;
}

nav ol li a {
    text-decoration: none;
    font-size: 17px;
    color: #333;

}